*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Utility----------------- */

.text-red{
    color: red;
}

.l-t{
    text-decoration:line-through;
 }  

 .d-f{
    display: flex;
 }

 .label-red{
    background: #ff1112;
    padding: 0.5rem;
    margin: 0.5rem;
    position: relative;
    
 }

 .label-green{
    background: #3e751c;
    padding: 0.5rem;
    margin: 0.5rem;
 }

 .price-label{
    position: absolute;
    left: 0;
    bottom: 10rem;
 }

 .heart{
    font-size: 4rem;
    color: rgb(0, 0, 0);
 }

 .back-white{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 0;
 }

/* Header------------------ */

nav{
    display: flex;
    justify-content: center;
    height: 4rem;
    background: #ff6900;
}

.a-left{
    font-weight: bold;
    margin: 0 1rem 0 0;
}

.a-right{
    font-weight: bold;
    margin: 0 0 0 1rem;
}


.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-logo{
    height: 30px;
}

/* Main---------------------------- */

main{
    width: 100%;
    justify-content: center;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.card{
    position: relative;
}




 


